%span.header_section
  ATS LXR
%span.header_section
  - total = ""
  - @rel_path.split("/").each do |link|
    - total += "/#{link}"
    - href = total
    - href += "/" if File.directory?(Dir.pwd+total)
    = "/"
    %a{:href=>href,:target=>"_blank"}
      = "#{link}"
- if File.file? @rel_path
  %span.header_section
    %a{:href=>"/download/#{@rel_path}",:target=>"_blank"}
      Download
%span.search
  Search:
  %input#search-input{:type=>"text","data-repos"=>"#{@repos.join(" ")}"}
  %input#search-submit{:type=>"button",:value=>"submit"}
.cl
#search-results
  %h2
    Results
    %input#close-search{:type=>"button",:value=>"[ close ]"}
    .cl
  #search-listing