- @extra = haml :search_box
%a.btn.btn-navbar{"data-toggle"=>"collapse","data-target"=>".nav-collapse"}
  .icon-bar
  .icon-bar
  .icon-bar
%a.brand{:href=>"/",:target=>"_blank"}
  ATS
.nav-collapse
  %ul.nav
    - total = ""
    - folders = @rel_path.split("/")
    - folders.each_with_index do |link,index|
      - total += "/#{link}"
      - href = total
      - href += "/" if File.directory?(Dir.pwd+total)
      %li
        %a{:href=>href,:target=>"_blank"}
          = "#{link}"
      - if index < folders.length - 1
        %li.divider-vertical
    - if File.file? @rel_path
      %li.divider-vertical
      %li
        %a{:href=>"/download/#{@rel_path}",:target=>"_blank"}
          Download
.navbar-form.pull-right
  %input#search-input.span2{:type=>"text","data-repos"=>"#{@repos.join(" ")}","placeholder"=>"Search"}